{% extends "base_generic.html" %}

{% block content %}

<p>These are some Irish organisations which may be able to help if you feel you are struggling</p>

<ul>
    <li><a href="https://www.samaritans.org/?nation=ireland">Samaritans Ireland</a></li>
    <li><a href="https://www.aware.ie/">Aware</a></li>
    <li><a href="https://spunout.ie/">SpunOut</a></li>
    <li><a href="https://www.alustforlife.com/">A Lust for Life</a></li>
    <li><a href="https://au.reachout.com/">Reach Out</a></li>
    <li><a href="https://seechange.ie/">See Change</a></li>
    <li><a href="https://www.mhfaireland.ie/what-is-mental-health-first-aid">Mental Health First Aid</a></li>
    <li><a href="https://www.mentalhealthireland.ie/">Mental Health Ireland</a></li>
    <li><a href="https://www.shine.ie/">Shine</a></li>
    <li><a href="https://grow.ie/">Grow</a></li>
</ul>
{% endblock %}