{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
<p> {{ form.errors }}</p>
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if error %}
<p>{{ error }}</p>
{% endif %}

<p>This projects aim is to track how engaged people are with this new website. The website aims to teach people some
    cognitive behavioural therapy thinking patterns and methods to how people might overcome them. This is not aimed to
    help with mental illness/health, if you experience difficulty there are a number of organisations which can help.</p>
<p></p>
<p>Consent:</p>
<p>The information which will be used for general website purposes will be your username, password and your progress.
    The password will be encrypted. The information gathered and used for the project will
    be, how many times you login to the website, how far you progress in the website, what pages you click on and how
    often. No personal details such as email or you full name will be stored.</p>
<p>Your answers will not be stored and therefore cannot be viewed by anyone</p>
<p>This information will be stored on a UCD server.</p>
<p>Information stored will be destroyed at the completion of the project</p>
<p>You will also be requested to fill out a short survey after using this website</p>
<form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    <label>{{ form.consent}} I give my consent to the collection of data while using this site</label>
    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password1.label_tag }}</td>
            <td>{{ form.password1 }}</td>
        </tr>
        <tr>
            <td>{{ form.password2.label_tag }}</td>
            <td>{{ form.password2 }}</td>
        </tr>
    </table>
    <input type="submit" value="Sign up"/>
</form>

{% endblock %}